<div class="buttons">
   <h3>{{buttonHeading}}</h3>
   <button class="gold" [class.gold]="!goldInactive" [disabled]="goldInactive" (click)="goldInactive = true">Gold</button> <br>
   <button class="silver" [class.silver]="!silverInactive" [disabled]="silverInactive" (click)="silverInactive = true">Silver</button> <br>
   <button class="copper" [class.copper]="!copperInactive" [disabled]="copperInactive" (click)="copperInactive = true">Copper</button> <hr>
   <button (click)="goldInactive=false; silverInactive=false; copperInactive=false">Activate/Deactivate Buttons</button>
</div>